* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
body {
	background-color: #F1F1F1;
}
ul li {
	list-style: none;
}
/*头部开始*/
.header {
	width: 100%;
	height: 79px;
	background-color: white;
	border: none;
	
}
.header-top {
	margin: 0 auto;
	width: 100%;
	height: 79px;
	background-color: white;
	position: fixed;
	left: 0px;
	top: 0px;
	border-bottom: 2px solid #B9B9B9;
}
.header-top ul li{
    display: inline-block;
}
.header-top ul {
	float: right;
	margin-right: 90px;
}
.top-right-first {
	width: 86px;
	height: 79px;
	text-align: center;
	line-height: 79px;
	font-size: 15px;
	color: #16B0DC;
}
.top-right-second {
	width: 86px;
	height: 79px;
	text-align: center;
	line-height: 79px;
	font-size: 15px;
	color: #2A333C;
}
.top-right-first:hover,.top-right-second:hover {
	color: #16B0DC;
}
.header-bottom {
	width: 100%;
	height: 140px;
	/*background-color: yellow;*/
	display: inline-block;
	margin-top: 79px;
}
.header-bottom p {
	text-align: center;
	line-height: 120px;
	font-size: 36px;
	color: #F67A82;
}
/*头部结束*/
/*内容开始*/
.body {
	width: 1170px;
	height: 2000px;
    background-color: #F1F1F1;
    margin: 0 auto;
    margin-top: 140px;
}
.body-left {
	width: 874px;
	height: 2000px;
	display: inline-block;
	background-color: white;
}
.flowerLanguage-center-first {
	width: 818px;
	height: 176px;
	background-color: white;
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	border: none;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;;
}
.flowerLanguage-center-first img {
	width: 160px;
	height: 160px;
	border-radius: 3px;
	float: left;
	/*margin-left: 15px;*/
	margin-right: 15px;
}
.flowerLanguage-center-first .up {
	font-size: 22px;
	color: #2A333C;
	float: left;
}
.flowerLanguage-center-first .up:hover,.table p:hover,.all p:hover{
	color: #16B0DC;
	text-decoration: underline;
}
.flowerLanguage-center-first .center {
	width: 637px;
	height: 96px;
	font-size: 16px;
	text-align: left;
	color: #7F8B96;
	float: left;
	margin-top: 16px;
}
.flowerLanguage-center-first .bottom {
	width: 150px;
	height: 22px;
	font-size: 14px;
	text-align: left;
	color: #7F8B96;
	float: left;
}
.flowerLanguage-center-first .eye img {
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 6px;
}
.flowerLanguage-center-first .eye p{
	width: 50px;
	height: 22px;
	font-size: 14px;
	text-align: left;
	color: #7F8B96;
	float: left;
	line-height: 22px;
}
.body-right {
	width: 263px;
	height: 354px;
	background-color: white;
	float: right;
	margin-left: 30px;
	display: inline-block;
}
.search {
	margin: 0 auto;
	margin-left: 20px;
	margin-top: 20px;
}
input{
	width: 213px;
	height: 30px;
	border: none;
	border: 2px solid #E4EAEC;
	border-radius: 50px;
	font-size: 13px;
	color: #A3AFB7;
	padding-left: 10px;
	background-image: url(./images/sou.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: right;
	outline: none;
}
.recommond {
	width: 224px;
	height: 42px;
	border: none;
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
	margin-left: 22px;
	margin-bottom: 12px;
}
.recommond p {
	font-size: 20px;
	/*margin-left: 2px;*/
	color: #37474F;
	margin-top: 21px;
}
.table {
	width: 223px;
	height: 44px;
	margin-left: 20px;
}
.table p {
	font-size: 16px;
	padding-left: 20px;
	color: #2A333C;
	line-height: 44px;
	border: 1px solid #E4EAEC;
}
.all p {
	font-size: 18px;
	color: #37474F;
	margin-left: 18px;
	margin-top: 44px;
}
.body-last {
	width: 273px;
	height: 39px;
	background-color: white;
	margin-top: 30px;
	margin-left: 302px;
}
.body-last .first {
	width: 74px;
	height: 39px;
	border: 1px solid #E4EAEC;
	display: inline-block;
	float: left;
}
.body-last .first p {
	text-align: center;
    line-height: 39px;
    color: #DBD8DB;
    font-size: 14px;
}
.body-last .second {
	width: 39px;
	height: 39px;
	background-color: #F86867;
	display: inline-block;
	float: left;
}
.body-last .second p {
	text-align: center;
    line-height: 39px;
    color: white;
    font-size: 14px;
}
.body-last .second p:hover{
	background-color: rgba(0,0,0,0.1);
}
.body-last .third {
	width: 39px;
	height: 39px;
	display: inline-block;
	border: 1px solid #E4EAEC;
	float: left;
}
.body-last .third p {
	text-align: center;
    line-height: 39px;
    color: #76838F;
    font-size: 14px;
}
.body-last .third p:hover,.body-last .fourth:hover{
	background-color: rgba(0,0,0,0.05);
}
.body-last .fourth {
	width: 74px;
	height: 39px;
	border: 1px solid #E4EAEC;
	display: inline-block;
	float: right;
}
.body-last .fourth p {
	text-align: center;
    line-height: 39px;
    color: #76838F;
    font-size: 14px;
}
/*内容结束*/
/*底部开始*/
.navi {
	width: 100%;
	height: 20px;
	background-color: white;
	margin-top: 30px;
}
.b-bottom {
	width: 100%;
	height: 182px;
	background-color: #F5F5F5;
}
.b-bottom .b-bottom-top {
	width: 120px;
	height: 56px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	position: relative;
}
.b-bottom-top i{
	font-size: 28px;
	cursor: pointer;
}
.b-bottom-top .zhe{
	width: 24px;
	height: 24px;
}
.b-bottom-top .zhe:hover img{
	display: block;
}
.b-bottom-top  img{
	width: 160px;
	height: 208px;
	position: absolute;
	bottom: 50px;
	left: -30;
	display: none;
}
.b-bottom-top .zhe i{
	color: #04AE0F;
}
.b-bottom-top .qq i{
	color: #1296DB;
}
.b-bottom-top .qq i:hover{
	color: #89BCEB;
}
.b-bottom .b-bottom-center {
	width: 1140px;
	height: 25px;
	margin: 0 auto;
	text-align: center;
    margin-top: 4px;
}
.b-bottom .b-bottom-center p:hover {
	text-decoration: underline;
}
.b-bottom .b-bottom-center p {
	display: inline-block;
    font-size: 10px;
    color: #62A8EA;
    margin-right: 15px;
}
.b-bottom .b-bottom-center .center {
	font-size: 10px;
    color: #AAAAAA;
}
/*底部结束*/